<nav class="navbar navbar-expand-lg">
  <a class="logo"><img src="/assets/image/LogoVip.jpg" alt="..." /></a>

  <ul class="navmenu">
    <li><a href="#">HOME</a></li>
    <li><a href="#">SHOP</a></li>
    <li><a href="#">PRODUCTS</a></li>
    <li><a href="#">PAGE</a></li>
    <li><a href="#">DOCS</a></li>
  </ul>

  <div class="nav-icon">
    <a href=""><i class="bx bx-search-alt"></i></a>
    <a href=""><i class="bx bx-user"></i></a>
    <a href=""><i class="bx bx-cart"></i></a>
    <div class="bx bx-menu" id="menu-icon"></div>
  </div>
</nav>
